<div class="row galeria-container" data-aos="fade-up" data-aos-delay="150">

    <div class="col-lg-4 col-md-6 portfolio-item filter-app" id="logistic">
      <img src="assets/img/aplicacoes/smart-truck.jpg" class="img-fluid" alt=" dispositivos de rastreamento ">
      <div class="portfolio-info">
        <h4>Logística</h4>
        <p>Fornece controle de rotas capaz de identificar possíveis problemas e indicar a melhor direção até o local de destino.</p>
        <a href="assets/img/aplicacoes/smart-truck.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Rastreamento de Dispositvos"><i class="bx bx-plus"></i></a>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
      <img src="assets/img/aplicacoes/smart-agriculture.jpg" class="img-fluid" alt="" >
      <div class="portfolio-info">
        <h4>Agronegócio</h4>
        <p>Possibilita o controle dos níveis necessários para o cultivo, colheita e hidroponia, além do gerenciamento de insumos nas lavouras por meio de drones ou sensores instalados no campo.</p>
        <a href="assets/img/aplicacoes/smart-agriculture.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Dashboard interativo"><i class="bx bx-plus"></i></a>
        
      </div>
    </div>

    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
      <img src="assets/img/aplicacoes/industry logistic.jpg" class="img-fluid" alt="">
      <div class="portfolio-info">
        <h4>Indústria</h4>
        <p>Fornece mapeamento e controle de determinadas áreas, como para medições e rastreio  de objetos em tempo real, controle de estoque, controle de máquinas e na otimização de operações.</p>
        <a href="assets/img/aplicacoes/industry logistic.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Suporte a qualquer tipo de Device"><i class="bx bx-plus"></i></a>
      </div>
    </div>
  </div>